@{
    ViewData["Title"] = "MyWorldBlog Requirements";
}

    <style>
        body {
            font-family: Arial, sans-serif;
        }

        .container {
            max-width: 600px;
            margin: 0 auto;
            padding: 20px;
            text-align: center;
            background-color: #f2f2f2;
        }

        h1 {
            color: #1da1f2;
            font-size: 24px;
        }

        p {
            margin-bottom: 20px;
        }

        .documentary-link {
            display: inline-block;
            padding: 10px 20px;
            background-color: #1da1f2;
            color: #fff;
            text-decoration: none;
            border-radius: 5px;
        }

            .documentary-link:hover {
                background-color: #0c87c9;
            }
    </style>


    <title>MyWorldBlog Requirements</title>

    <div class="container">
        <h1>MyWorldBlog Requirements</h1>
        <p>This is the MER of the Project.</p>
        <a class="documentary-link" href="https://correoitmedu.sharepoint.com/:b:/s/TrabajoAplicacionesYServiciosWeb/ESbfUwpSfoZFtVpUpqNaQpQBucIlgfZGG3_pNLC8hzhh7w?e=l5X4S9">MER Link</a>

        <p>This is the complete documentation of the project.</p>
        <a class="documentary-link" href="https://correoitmedu.sharepoint.com/:w:/s/TrabajoAplicacionesYServiciosWeb/ESbJaqfbSBZHrispaTO_PkABoybjkbIQ_C3Z52Um_j_9fw?e=Rs75Sa">Documentary Link</a>
    </div>